* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'WIN95FA', 'MS Sans Serif', 'Microsoft Sans Serif', Tahoma, sans-serif;
  font-size: 12px;
  background: #008080;
  overflow: hidden;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  text-rendering: optimizeSpeed;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
